
            <h2 id="resources">Resources</h2>
            <div class="resource-navigation">
                <a href="academic_alignment.html" class="resource-nav-item">Academic Alignment</a>
                <a href="scientific_validation.html" class="resource-nav-item">Scientific Validation</a>
                <a href="advanced_concepts.html" class="resource-nav-item">Advanced Concepts</a>
                <a href="privacy.html" class="resource-nav-item">Privacy Policy</a>
            </div>
        